body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header h1 {
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #666;
}

main form {
    margin-bottom: 20px;
}

.file-input {
    position: relative;
    display: inline-block;
}

.file-input input[type="file"] {
    display: none;
}

.file-input label {
    background-color: #a04551;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button[type="submit"] {
    background-color: #a04551;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #a04551;
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #a04551;
}
